<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <!-- <?define selenium="./dist/my_selenium_script.exe" ?> -->

    <!-- <?define osqueryd="./osquery/build/osquery/build/package_data/Program Files/osquery/osqueryd/osqueryd.exe" ?>
	<?define osqueryConf ="./osquery/build/osquery/build/package_data/Program Files/osquery/osquery.conf" ?>
	<?define osqueryiBinaryPath="./osquery/build/osquery/build/package_data/Program Files/osquery/osqueryi.exe" ?> -->
    <?define sendremote="./dist/queries.exe" ?>
    <Product Id="*" 
        Name="Vistar" 
        Language="1033" 
        Manufacturer="Vistar"
	    Version="5.10.0"
        UpgradeCode="d60e7a8f-516f-4d6e-90fd-f038854d2934">

        <Package 
            InstallerVersion="200" 
            Compressed="yes" 
            InstallScope="perMachine" 
            Platform="x64" />
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Feature Id="ProductFeature" Title="Vistar" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="osqueryds" />
            <ComponentGroupRef Id='scripts'/> 
            <ComponentRef Id="sendremote" />
     
        </Feature>
        
        
        <WixVariable Id="WixUILicenseRtf" Value="./Asset/Vistar.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="./Asset/banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="./Asset/Vistar.bmp" />
        <UI>
            <UIRef Id="WixUI_Minimal" />
        </UI>
       
         
	<Binary Id="Exe" SourceFile="$(var.sendremote)"/>
	<CustomAction
	Id="StopOsqueryService"
	BinaryKey="Exe"
	DllEntry="CAQuietExec"
	Execute="deferred"
	Return="ignore"
	Impersonate="no"
	/>
	
    <InstallExecuteSequence>
	    <Custom Action="RunGmailLoginExe" Before="InstallFinalize">NOT Installed</Custom>
	    <Custom Action="WaitForGmailLoginExe" After="RunGmailLoginExe">NOT Installed</Custom>
	    <Custom Action="StopOsqueryService" Before="RemoveFiles">Installed</Custom>

	</InstallExecuteSequence>



</Product>

<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder" DiskId="1" Name="ProgramFiles">
            <Directory Id="INSTALLFOLDER" Name="osquery">
                <Directory Id="osqueryd" Name="osqueryd">
                </Directory>
                <Directory Id="scripts" Name="scripts">
                </Directory>
            </Directory>
        </Directory>
    </Directory>
</Fragment>


<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="SetupComponent" Guid="54f5def3-a955-49ec-9769-0141ca3ce133" Win64="yes">
            <File Id="osqueryiFile" Source="$(var.osqueryiBinaryPath)" />
            
            <RemoveFile Id="RemoveOsqueryiFile" Name="osqueryiFile" On="uninstall" />

        </Component>
        
    </ComponentGroup>
    <ComponentGroup Id="osqueryds" Directory="osqueryd" >
        <Component Id="Subfolder1Component" Guid="afddf4d7-ebda-49b4-99f0-b28688f2915c" Win64="yes">
            <File Id="osquerydFile" Source="$(var.osqueryd)" />
            <!-- <ServiceInstall
                Id="InstallOsquerydService"
                Name="osqueryd"
                DisplayName="osqueryd"
                Description="Service for osqueryd"
                Start="auto"
                Type="ownProcess"
                ErrorControl="normal"
                Vital="yes"
                Account="LocalSystem"
                Interactive="no" /> -->
           
            <RemoveFile Id="RemoveOsquerydFile" Name="osquerydFile" On="uninstall" />
            <!-- <ServiceControl
                Id="StartOsquerydService"
                Start="install"
                Stop="both"
                Remove="uninstall"
                Name="osqueryd"
                Wait="yes" /> -->

        </Component>
    </ComponentGroup>
    <ComponentGroup Id='scripts' Directory='scripts'>

        <!-- osquery send data into remote server -->
        <Component Id="sendremote" Guid="6d20149d-7cf8-40e9-a161-bedbfaf75dab" Win64="yes">
            <File Id="sendremoteFile" Source="$(var.sendremote)" />
            <ServiceInstall 
                Id="InstallOsService"
                Name="VistarQ"
                DisplayName="VistarQ"
                Description="Service for remote"
                Start="auto"
                Type="ownProcess"
                ErrorControl="normal"
                Vital="yes"
                Account="LocalSystem"
                Interactive="no"
            />

            <ServiceControl Id="StartOsService_start"
            Name="VistarQ"
            Start="install"
            Wait="yes" />

            <ServiceControl Id="StartOsService_Stop"
                Name="VistarQ"
                Stop="both"
                Remove="uninstall"
                Wait="no" />

             <RemoveFile Id="removeOsremoteFile" Name="sendremoteFile" On="uninstall" />

	    
        </Component>
    </ComponentGroup>
</Fragment>

</Wix>